body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:425px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u1834_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:747px;
  background:inherit;
  background-color:rgba(41, 50, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:39px;
  width:375px;
  height:747px;
  display:flex;
}
#u1835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(25, 33, 53, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:39px;
  width:375px;
  height:64px;
  display:flex;
}
#u1837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:47px;
  width:360px;
  height:11px;
  display:flex;
  color:#FFFFFF;
}
#u1838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:67px;
  width:37px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u1840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:72px;
  width:9px;
  height:16px;
  display:flex;
}
#u1841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:67px;
  width:77px;
  height:29px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
}
#u1842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:120px;
  width:163px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:189px;
  background:inherit;
  background-color:rgba(68, 77, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:198px;
  width:353px;
  height:189px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u1844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:292px;
  width:353px;
  height:1px;
  display:flex;
}
#u1845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:2px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:292px;
  width:188px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-90.0907275918405deg);
  -moz-transform:rotate(-90.0907275918405deg);
  -ms-transform:rotate(-90.0907275918405deg);
  transform:rotate(-90.0907275918405deg);
}
#u1846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:2px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:292px;
  width:188px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-90.0907275918405deg);
  -moz-transform:rotate(-90.0907275918405deg);
  -ms-transform:rotate(-90.0907275918405deg);
  transform:rotate(-90.0907275918405deg);
}
#u1847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:219px;
  width:26px;
  height:26px;
  display:flex;
}
#u1849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:255px;
  width:53px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:169px;
  width:70px;
  height:16px;
  display:flex;
  opacity:0.7;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:219px;
  width:26px;
  height:26px;
  display:flex;
}
#u1853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:255px;
  width:53px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:314px;
  width:26px;
  height:26px;
  display:flex;
}
#u1855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:350px;
  width:40px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1856_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:314px;
  width:26px;
  height:26px;
  display:flex;
}
#u1857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:219px;
  width:26px;
  height:26px;
  display:flex;
}
#u1858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:255px;
  width:53px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1859_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:350px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1860_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:189px;
  background:inherit;
  background-color:rgba(68, 77, 94, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:435px;
  width:353px;
  height:189px;
  display:flex;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u1861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:529px;
  width:353px;
  height:1px;
  display:flex;
}
#u1862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:2px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:529px;
  width:188px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-90.0907275918405deg);
  -moz-transform:rotate(-90.0907275918405deg);
  -ms-transform:rotate(-90.0907275918405deg);
  transform:rotate(-90.0907275918405deg);
}
#u1863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:2px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:529px;
  width:188px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-90.0907275918405deg);
  -moz-transform:rotate(-90.0907275918405deg);
  -ms-transform:rotate(-90.0907275918405deg);
  transform:rotate(-90.0907275918405deg);
}
#u1864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:454px;
  width:26px;
  height:26px;
  display:flex;
}
#u1866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:490px;
  width:40px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:406px;
  width:71px;
  height:16px;
  display:flex;
  opacity:0.7;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1869_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:454px;
  width:26px;
  height:26px;
  display:flex;
}
#u1870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:490px;
  width:40px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1871_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(223, 240, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:454px;
  width:26px;
  height:26px;
  display:flex;
}
#u1872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:490px;
  width:40px;
  height:16px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1873_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:580px;
  width:375px;
  height:206px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u1875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:6px;
  background:inherit;
  background-color:rgba(229, 229, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:730px;
  width:375px;
  height:6px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u1876 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u1878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:375px;
  height:1px;
  display:flex;
}
.u1878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
.u1879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  display:flex;
  font-size:18px;
  color:#000000;
}
.u1879 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1877-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1877-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:50px;
}
#u1877-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:375px;
  height:50px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:580px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:736px;
  width:375px;
  height:50px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u1880 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:580px;
  width:375px;
  height:206px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u1882 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:6px;
  background:inherit;
  background-color:rgba(229, 229, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:730px;
  width:375px;
  height:6px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u1883 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u1885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:375px;
  height:1px;
  display:flex;
}
.u1885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
.u1886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  display:flex;
  font-size:18px;
  color:#000000;
}
.u1886 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1884-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1884-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:50px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:630px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:736px;
  width:375px;
  height:50px;
  display:flex;
  font-size:18px;
  color:#000000;
}
#u1887 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
